body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

button {
  padding: 20px 40px;
  margin: 20px;
  border: none;
  border-radius: 30px;
  color: #2b8a2f;
  background-color: #9dffa1;
  -webkit-transition: .5s all ease-in;
  transition: .2s all ease-in;
  -webkit-box-shadow: 0px 0px 10px 0px #b5ffb8;
  box-shadow: 0px 0px 30px 5px #b5ffb8;
}

button:hover {
  background-color: #b7fcb9;
  -webkit-animation: breathing 3s infinite;
  animation: breathing 3s infinite;
  -webkit-box-shadow: 0px 0px 10px 0px #b5ffb8;
  box-shadow: 0px 0px 45px 17px #b5ffb8;
}

.main-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
}